@import 'shared.module.scss';

.sidebarWrapper {
  width: 220px;
  padding: 30px 20px 20px;
  border-radius: 5px;
  background: $content-background-color;
  user-select: none;
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}

.sidebarContainer {
}

.sidebarMenuItemWrapper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  &.sidebarMenuItemActive {
    font-weight: 500;
    color: #000000;
  }

  &:hover {
    background: addSuffix($bankPrimaryColor, '28');
    color: #000000;
  }
}

.submenuToggleArrow {
  position: absolute;
  right: 17px;
  top: 12px;
}

.sidebarMenuItemTitle {
  font-weight: 500;
}

.sidebarMenuItemTitleWithOpenSubmenu {
}

.sidebarMenuItemContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.sidebarSubmenuItemWrapper {
  margin: 0 0 1px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.sidebarMenuItemIcon {
  position: relative;
  bottom: 1px;
  width: 18px;
}

.sidebarMenuIconTitle {
  margin-left: 12px;
}

.sidebarsubMenuItemsWrapper {
  position: relative;
  left: 14px;
  bottom: 5px;
  display: flex;
  flex-flow: column nowrap;
  // NOTE: need to specify width due to relative position left.
  width: calc(100% - 30px);
  padding-left: 10px;
  border-left: 4px solid #E8EEFE;

  &.sidebarsubMenuItemsWrapperOpen {
  }
}

.navigationLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.bankLogoName {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  padding: 20px;
  border-radius: 4px;
}
