@import './shared.module.scss';

.cardWrapper {
  @extend %card-style;
  margin: 0 0 20px 0;

  .cardTitle {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
}

.cardTitleIcon {
  margin-right: 8px;
}

.topCardTitle {
  font-size: 12px;
}

.topCardValue {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 12px;
}
