
# build
out
index.d.ts

# tests
.nyc_output
coverage

# generated documentation
docs

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

protobufs/*.js
node_modules/
tsconfig.tsbuildinfo

# Logs and temporary files
*.log
*.tmp

# config
.env

src/protobufs/**/*.ts
